<!DOCTYPE html>
<html>
<head>
    <title>Detail page for this <%=@car.make%> - <%=@car.model%></title>
</head>
<body>
<h1>Detail page for this <%=@car.make%> - <%=@car.model%></h1>

    <h3>Cost: $<%= @car.price %></h3>
    <h3> Year: <%= @car.year %></h3>
    <h3></h3>
    <br>
    <% binding.pry %>
    <%= @car.owners.name %>
   
    <input type="submit" value="Purchase Car" />
</form>

</body>